 .navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    position: fixed;
    border-bottom: 0.1rem solid #C4C5C7;
    z-index: 4;
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    height: 100%;
    width: 15%;
}
.logo {
    max-width: 5rem;
}
.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: palegoldenrod; */
    height: 100%;
    width: 70%;

}
.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: palevioletred; */
    height: 100%;
    width: 15%;
}
.search {
    cursor: pointer;
    margin-right: 0.7rem;
}

.searchExpand {
    display: flex;
    width: 100%;
    height: 10rem;
    /* background-color: blue; */

}

/* .product {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
} */

.navbar-linkzone {
    display: flex;
    /* background-color: rebeccapurple; */
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-links {
    /* background-color: aquamarine; */
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    cursor: pointer;
}
.navbar-links:hover {
    color: grey;
}   


.navbar-hover:hover {
    border-bottom: 3px solid black;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
.product-dropdown {
    display: flex;
    background-color: white;
    width: 100%;
    height: auto;
    position: fixed;
    margin-top: 4.6rem;
    box-shadow: 0 0.52vw 1.04vw #00000029;
    z-index: 2;
}



.product-left {
    display: flex;
    /* background-color: antiquewhite; */
    width: 50%;
    height: 100%;
    justify-content: flex-end;
}

.product-right {
    display: flex;
    /* background-color: aqua; */
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.product-details {
    display: flex;
    width: auto;
    height: 100%;
    /* background-color: cadetblue; */
    padding: 2rem;
}

.product-featured {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    /* background-color: gold; */
    /* justify-content: center; */
    align-items: center;
    padding-left: 2rem;
    padding-right: 4rem;
}

.product-category {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    /* background-color: rebeccapurple; */
    /* justify-content: center; */
    align-items: center;
    padding-left: 4rem;
    padding-right: 2rem;
    border-left: 1px solid black;
}

.product-name {
    font-size: small;
    display: flex;
    /* justify-content: center; */
    width: 100%;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1rem;
}
.product-sublinks {
    font-size: small;
    display: flex;
    /* justify-content: center; */
    width: 100%;
    align-items: center;
    margin-bottom: 0.3rem;
}

.product-img {
    width: 70%;
    border-radius: 20px;
}
.product-btn {
    position: absolute;
    border-radius: 50px;
    border: none;
    background-color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transform: translate(130%, 110%);


}
.product-right-text {
    position: absolute;
    transform: translate(-75%, 150%);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.logo-mobile {
    display: none;
}

.nav-sidebar {
    display: none;
}



@media (max-width: 576px) { 
    .navbar-center {
        width: 65%;
    }
    .navbar-right {
        width: 20%;
    }
    .navbar-linkzone {
        display: none;
    }
    .logo  {
        display: none;
    }
    .logo-mobile {
        display: flex;
        max-width: 5rem;
    }
    .nav-sidebar {
        display: block;
    }
    .slide-in-div {
        position: absolute;
        display: flex;
        /* background-color: red; */
        width: 100%;
        height: 100%;
    }
    .drawer-cross {
        /* background-color: red; */
        display: flex;
        border-bottom: 1px solid #D1D1D1;
        align-items: center;
        width: 100%;
        height: 3rem;
        padding-left: 1rem;
        box-shadow: 0 0.52vw 1.04vw #00000029;
    }
    .drawer-list {
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        width: 100%;
        height: 3rem;
        border-bottom: 1px solid #D1D1D1;
        font-size: small;
        padding-left: 1rem;
    }
    .nav-dropdown {
        display: flex; 
        width: 40%;       
    }
    .drawer-list-name {
        display: flex;
        /* background-color: red; */
        width: 60%;
    }
    .products-nav-dropdown {
        background-color: gainsboro;
    }
    .products-nav-dropdown-sub {
        background-color: #CBCBCA;
    }
    .drawer-sublist {
        padding-left: 2rem;
    }
    .drawer-sub-sublist {
        padding-left: 3rem;
        border-bottom: 1px whitesmoke solid;
    }
    .sub-sub-list {
        width: 50%;
    }
    .dropdown-sublist {
        width: 48%;
    }
 }




 /* @media (min-width: 768px) { 

    .navbar-center {
        width: 70%;
    }
    .navbar-right {
        width: 15%;
    } 
 } */

  